body {
    margin: 0;
    font-family: sans-serif;
}

header ul {
    font-size: 0;
}
 ul li {
     list-style: none;
 }
ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #555;
}

a {
    text-decoration: none;
    color: #fff;
}

/*global-style- BEGIN*/
section, #clients, footer {
    margin-top: 100px;
}

.section-title {
    font-size: 20px;
    color: #555555;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.section-border {
    background-color: #555555;
    height: 2px;
    display: inline-block;
    width: 50px;
    margin-bottom: 30px;
}

.section-description {
    padding-bottom: 70px;
    color: #555555;
    font-size: 16px;
}

/*global-style- END*/
.wrapper {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url("../img/header/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

header .logo {
    float: left;
}

header .logo a {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    float: right;
    -webkit-transition: .3s;
    -moz-transition: .3s ;
    -ms-transition: .3s ;
    -o-transition: .3s ;
    transition: .3s ;
}

.nav-bars {
    z-index: 2;
    right: 55px;
    position: absolute;
    width: 20px;
    margin: auto;
    top: 45px;
}

.active-nav-bar {
    color: #000;
}

.active-right-menu {

    transform: translateX(0%);

}

.active-right-menu ul li {
    display: block;
    padding: 0;
    margin-bottom: 30px;
}

.active-right-menu ul li a .border {
    background-color: #555555;
}
header ul li a .border {
    height: 2px;
    background-color: #fff;
    width: 30px;
    display: block;
    margin: 5px auto;
    transform: scaleX(0);
    -webkit-transition: .3s;
    -moz-transition: .3s ;
    -ms-transition: .3s ;
    -o-transition: .3s ;
    transition: .3s ;
}

header ul li  a:hover .border{
    transform: scaleX(1);
}

.active-right-menu ul li a {
    color: #000;
    padding-bottom: 5px;
}

.logo {
    padding-top: 38px;
}

nav {
    padding-top: 45px;
}

header ul li {
    display: inline-block;
    padding: 0 17px;
}

header ul li:last-child {
    padding-right: 0;
}

header ul li a {
    font-size: 14px;
}

header .header-content {
    padding-top: 276px;
    padding-bottom: 260px;
}

header h1, header p {
    color: #fff;
}

header h1 {
    font-size: 48px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

header p {
    font-size: 20px;
    padding-bottom: 50px;
}

header .header-content a {
    width: 100%;
    max-width: 180px;
    height: 50px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid #fff;
    line-height: 3;
    box-sizing: border-box;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

header .header-content a:hover {
    background-color: #fff;
    color: #c0301c;
}

/*service-style-begin----------------------------------------------->*/
.services-container .services-block {
    width: 30%;
    display: inline-block;
    margin: 0px 13px;
}

.services-block {
    border-radius: 3px;
    padding: 20px 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.services-block .fa {
    max-width: 85px;
    height: 85px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 45px;
    line-height: 1.8;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: #c0301c;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.services-block:hover .fa {
    color: #fff;
    background-color: #c0301c;
}

.services-block:hover {
    box-shadow: 0 5px 50px 5px #dddddd;
    -webkit-transform: translate3d(0px, -10px, 0px);
    -moz-transform: translate3d(0px, -10px, 0px);
    -ms-transform: translate3d(0px, -10px, 0px);
    -o-transform: translate3d(0px, -10px, 0px);
    transform: translate3d(0px, -10px, 0px);
}

.services-block .icon {
    margin-bottom: 30px
}

.services-block h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.services-block p {
    font-size: 14px;
}

/*service-style-end----------------------------------------------->*/

/*about-style-begin----------------------------------------------->*/
#about {
    background-color: #f8f8f8;
    padding-top: 100px;
}

.about-content .left-block, .right-block {
    width: 45%;
    text-align: left;
    margin: 0 15px;
    display: inline-block;
}

.about-content .left-block p, .right-block p {
    line-height: 24px;
    font-size: 14px;
}

.about-content .slider {
    padding-top: 70px;
    padding-bottom: 100px;
}

.social-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social-icon .container-social-icon {
    position: absolute;
    width: 100%;
    bottom: 10%;
    transform: translateY(150px);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social-icon .fa {
    max-width: 29px;
    height: 29px;
    width: 100%;
    line-height: 30px;
}

.social-icon .fa:hover {
    background-color: #c0301c;
}

.img-block {
    position: relative;
    max-height: 250px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.img-block:hover .social-icon {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-block:hover .container-social-icon {
    transform: translateY(0px);
}

.show-social {
    display: block;
}

.description-img-about {
    margin-top: 20px;
}

.description-img-about h3 {
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.description-img-about p {
    font-size: 13px;
}

.section-description a {
    color: #555555;
    font-size: 16px;
}

.section-description  li{
    display: inline-block;
    padding: 0 20px;
}
/*.section-description .navigation-img {*/

    /*box-sizing: border-box;*/
/*}*/

.section-description .active {
    color: #c0301c;
}

/*about-style-end----------------------------------------------->*/

/*work-style-begin----------------------------------------------->*/
.container-img {
    text-align: left;
    font-size: 0;
}

.container-img .img-block-work {
    max-width: 360px;
    max-height: 320px;
    margin: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container-img .img-block-work:hover .hover-block-work {
    background-color: rgba(192, 48, 28, 0.7);
}

.container-img .img-block-work:hover .title-img-work {
    transform: translateX(0);
}

.container-img .img-block-work:hover .view-button {
    transform: translateX(0);
}

.container-img .img-block-work a {
    display: inline-block;
}

.hover-block-work {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(192, 48, 28, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container-img .title-img-work {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container-img .title-img-work h3, .title-img-work p {
    color: #fff;
}

.container-img .title-img-work h3 {
    font-size: 18px;
    margin-bottom: 17px;
}

.container-img .title-img-work p {
    font-size: 12px;
    margin-bottom: 25px;
}

.container-img .view-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container-img .view-button a {
    max-width: 100px;
    width: 100%;
    height: 38px;
    color: #fff;
    display: inline-block;
    line-height: 2.7;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container-img .view-button a:hover {
    background-color: #fff;
    color: #c1321f;
}

.container-img .view-button a .fa {
    font-size: 17px;
    margin-left: 5px;
}

.paralax-section {
    background-image: url("../img/work/bg-works-2.jpg");
    background-attachment: fixed;
    height: 365px;
    background-position: 50%;
    margin-top: 100px;
}

.paralax-section .shadow-block-work {
    background-color: rgba(192, 48, 28, 0.6);
    height: 100%;
}

.shadow-block-work h3 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    line-height: 44px;
    margin-bottom: 50px;
}

.shadow-block-work h3 span {
    text-transform: uppercase;
}

.shadow-block-work .container-shadow {
    max-width: 460px;
    margin: 0 auto;
    padding-top: 100px;
}

.shadow-block-work .get-in-touch a {
    display: block;
    max-width: 180px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #fff;
    line-height: 3;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.shadow-block-work .get-in-touch a:hover {
    color: #c0301c;
    background-color: #fff;
}

/*work-style-begin----------------------------------------------->*/

/*blog-style-begin----------------------------------------------->*/
.content-blog {
    text-align: left;
    overflow: hidden;
}

.block-blog {
    overflow: hidden;
}

.block-blog .img-blog {
    float: left;
    width: 40.4%;
    max-height: 322px;
    padding-right: 40px;
}

.block-blog .img-blog img {
    max-width: 460px;
}

.block-blog .description-blog {
    float: left;
    width: 55%;
}

.block-blog .head-description-blog .data {
    width: 78px;
    height: 78px;
    border: 2px solid #555;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    box-sizing: border-box;
}

.block-blog .head-description-blog .data p {
    font-size: 14px;
    color: #777777;
    font-weight: bold;
}

.block-blog .head-description-blog .data p:first-child {
    font-size: 24px;
    padding-top: 15px;
}

.head-description-blog .title-head-blog {
    display: inline-block;
}

.head-description-blog .title-head-blog a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #777777;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.head-description-blog .title-head-blog a:hover {
    color: #c0301c;
}

.head-description-blog .title-head-blog p span {
    color: #c0301c;
}

.head-description-blog {
    margin-bottom: 25px;
}

.content-description-blog p {
    margin-bottom: 35px;
    line-height: 24px;
}

.content-description-blog a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #555;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.content-description-blog a:hover {
    color: #c0301c;
}

.content-description-blog span {
    display: none;
}

.content-blog .border-blog {
    margin: 40px 0;
    border-bottom: 1px solid #dddddd;
}

/*blog-style-end----------------------------------------------->*/

/*clients-style-begin----------------------------------------------->*/
.client-block {
    background-color: #f8f8f8;
}

.client-block .slider {
    padding: 100px 0;
}

.client-block .brands-img {
    font-size: 0;
    padding-bottom: 70px;
}

.brands-img a {
    display: inline-block;
    padding: 0 20px;
}

.brands-img img {
    max-width: 130px;
}

.slider-block .description-img-client p {
    font-size: 18px;
    padding-bottom: 40px;
}

.slider-block .description-img-client h4 {
    font-size: 20px;
}

/*clients-style-end----------------------------------------------->*/

/*contact-style-begin----------------------------------------------->*/
.content-contact {
    margin-top: 70px;
    text-align: left;
}

.content-contact .left-contact {
    float: left;
}

.content-contact form input, textarea, button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.content-contact form input {
    width: 100%;
    max-width: 347px;
    height: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #555555;
}

.content-contact form .last-input {
    margin-right: 0;
}

.content-contact form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #555555;
    padding-top: 15px;
}

.content-contact form input:hover, input:focus, textarea:hover, form textarea:hover {
    outline: none;
    border: 1px solid #c0301c;
}

.content-contact form button {
    width: 100%;
    max-width: 170px;
    height: 43px;
    border: 1px solid #555555;
    background: transparent;
    color: #959595;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    margin-right: 38px;
}

.content-contact form button:hover {
    color: #fff;
    background: #c0301c;
    border: transparent;
}

.content-contact .color-star {
    color: #c0301c;
}

.content-contact .form-contact {
    padding-left: 36%;
}

.content-contact .address {
    color: #555555;
}

.content-contact .address, .hotline, .email {
    padding-bottom: 35px;
}

.content-contact .address p, .hotline p, .email p {
    padding-left: 25px;
    font-size: 12px;
}

.content-contact .address span, .hotline span, .email span {
    text-transform: uppercase;
    padding-bottom: 20px;
    display: inline-block;
    padding-left: 14px;
    font-size: 14px;
}

.content-contact .email span {
    padding-left: 10px;
}

/*contact-style-end----------------------------------------------->*/

/*footer-style-begin---------------------------------------------->*/
footer {
    background-color: #c0301c;
}

footer .container {
    padding: 100px 0 50px;
}

footer .container .section-border {
    background-color: #fff;
}

footer .container .section-description {
    color: #fff;
}

footer .social-block {
    padding-bottom: 30px;
}

footer .social-block a {
    font-size: 14px;
    width: 100%;
    max-width: 35px;
    display: inline-block;
    height: 35px;
    line-height: 2.5;
    border: 3px solid #fff;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s ;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s ;
    transition: 0.3s ;
}
footer .social-block a:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #c0301c;
    background-color: #fff;
}

/*footer-style-end---------------------------------------------->*/